<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{base_url()}}/images/favicon.ico">

    <title>MPF | Munasar Php Fremwork</title>
  
	<link rel="stylesheet" href="{{base_url()}}/assets/vendor_components/bootstrap/dist/css/bootstrap.min.css">

</head>
<body class="hold-transition bg-img" style="background-image: url({{base_url()}}/images/bg-1.jpg)">
	
	<div class="container h-p100">
		<div class="row justify-content-md-center align-items-center h-p100">
			<div class="col-md-8">
				<div class="box bg-transparent no-border no-shadow">	
					<div class="box-body text-center">
						<br><br><br>
						<br><br><br>
						<br><br><br>
						<h2 class="text-uppercase text-white font-size-60">
						  Ku Soo Dhawoow MPF <br> Munasar Php Fremwork
						</h2>
						<p class="text-white">Si sax ah ayaad ugu shubatay Fadlan hadii aadan aqoonin halkan riix  <a href="#">Doc.</a>.</p>
						
								
					</div>
					<br><br><br>
					<br><br><br>
					<p class="text-white">Created By Munasar Abuukar.</p>
				</div>
				
			</div>
		</div>
	</div>
	  <!-- /.modal -->

	<!-- jQuery 3 -->
	<script src="{{base_url()}}/assets/vendor_components/jquery-3.3.1/jquery-3.3.1.js"></script>
	
	<!-- popper -->
	<script src="{{base_url()}}/assets/vendor_components/popper/dist/popper.min.js"></script>
	
	<!-- Bootstrap 4.0-->
	<script src="{{base_url()}}/assets/vendor_components/bootstrap/dist/js/bootstrap.min.js"></script>
	

</body>
</html>
